<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            padding: 20px;
            text-align: center;
        }
        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            margin: 0 auto;
            max-width: 600px;
        }
        .header {
            font-size: 24px;
            margin-bottom: 20px;
        }
        .message {
            font-size: 18px;
            margin-bottom: 20px;
        }
        .reset-link {
            display: inline-block;
            padding: 10px 20px;
            margin-bottom: 20px;
            background-color: #F1EBE3;
            color: #232222;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }
        .reset-link:hover {
            background-color: #D0B8A8;
        }
        .footer {
            font-size: 12px;
            color: #777;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">Hi {{name}},</div>
        <div class="message">您要求重設您的密碼。</div>
        <div class="message">請點擊下面的連結以重設您的密碼：</div>
        <a class="reset-link" href="{{link}}">重設密碼</a>
        <div class="message">請在一小時內完成密碼重設，否則連結將失效。</div>
        <hr>
        <div class="footer">本郵件為系統自動發送，請勿回覆。</div>
    </div>
</body>
</html>
